.column {
    float: left;
    width: 23%;
    padding: 0 10px;
    padding-bottom: 50px;
    height: 500px;
    }

    .row {
    margin: 0 -5px;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }

    @media screen and (max-width: 1250px) {
     .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
        }
    }

    .card_img {
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
    }

    #container {
    width: 90%;
    height: 500px;
    margin: 0 auto;
    margin-top: 20vh;
    }

    .card {
    background-color: white;
    border: 1px solid #bacdd8;
    padding: 8px;
    border-radius: 12px;
    }

   
    .tag {
    padding: 4px 8px;
    border: 1px solid #e5eaed;

    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: #788697;
    }

    .name {
    font-size: 24px;
    font-weight: 600;
    color: black;
    margin-top: 16px;
    }

    p {
    font-size: 14px;
    color: #7f8c9b;
    line-height: 150%;
    }

    .card__details {
    padding: 16px 8px 8px 8px;
    }