@font-face {
    font-family: "Lato";
    src: url(lib/fonts/Lato/Lato-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url(lib/fonts/Lato/Lato-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url(lib/fonts/Lato/Lato-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}


body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(29, 29, 36);
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: white;
}

/*animations inspired by Fireship on YouTube*/

.hiddenAnimate {
    opacity: 0;
    filter: blur(10px);
    transition: all 0.5s;
    }

.showAnimate {
    opacity: 1; 
    filter: blur(0px);
    }

@media(prefers-reduced-motion) {
    .hiddenAnimate {
        transition: none;
    }
}

.container {
    position: relative;
    text-align: center;
    color: white;
}



.centerTopTextOverlay {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    width: 80%;
    font-weight: bold;
}

.centerTopMidTextOverlay {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    width: 80%;
    font-weight: bold;
}

.centerTextOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    width: 80%;
    font-weight: bold;
}

.centerBottomMidTextOverlay {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    width: 80%;
    font-weight: 300;
}

.centerBottomTextOverlay {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    width: 80%;
    font-weight: bold;
}



.button {
    background-color: rgb(100, 110, 200);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
.button:hover {opacity: 1}

.buttonB {
    background-color: rgb(110, 110, 110);
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
.buttonB:hover {opacity: 1}

.menuStyle {
background-color: rgb(49, 49, 56);
float: left;
width: 100%;
}

.menuStyle Imglink {
float: left;
width: 20%;
color: white;
text-align: center;
display: block;
font-family: 'Lato', Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 24px;
padding-bottom: 4px;
}


.menuStyle Txlink {
float: left;
width: 20%;
color: white;
text-align: center;
display: block;
padding-top: 20px;
padding-bottom: 20px;
font-family: 'Lato', Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 24px;
}

.menuStyle Txlink:hover {
    color: rgb(150, 150, 150);
}

.menuStyle Txlink.active {
    background-color: rgb(29, 29, 36);
    border: none;
    border-radius: 45px;
    outline: hidden;
}


.menuStyle Imglink:hover {
    color: rgb(150, 150, 150);
}

.menuStyle ImgLink.active {
    background-color: rgb(29, 29, 36);
    border: none;
    border-radius: 45px;
    outline: hidden;
}

@media screen and (max-width: 1400px) {
.menuStyle TxLink {
float: none;
display: block;
width: 100%;
text-align: center;
}
}

@media screen and (max-width: 1400px) {
.menuStyle ImgLink {
float: none;
display: block;
width: 100%;
text-align: center;
}
}

.pageContentCont {
padding-bottom: 200px;
font-size: 48px;
}

.footer {
position: absolute;
height: 270px;
bottom: 0;
width: 100%;
background-color: rgb(49, 49, 56);
color: white;
text-align: center;
}

.pageHt {
position: relative;
min-height: 100vh;

}





.titleText {
font-size: 36px;
width: 80%;
font-weight: bold;
text-align: center;
margin: auto;
margin-bottom: 25px;

}

.head1Text {
font-size: 24px;
width: 80%;
font-weight: bold;
text-align: center;
margin: auto;

}

.bodyText {
font-size: 16px;
width: 80%;
text-align: center;
margin: auto;
line-height: 1.4;
}

.bodyTextSm {
width: 50%;
text-align: center;
margin: auto;
font-size: 16px;
line-height: 1.4;
}

/*Card design on most pages inspired by https://www.freecodecamp.org/news/learn-css-basics-by-building-a-card-component/ */
/*Button designs below inspired by https://blog.christopherianmurphy.com/2017/04/glowing-button/*/

.buttonStOr {
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    position: relative; 
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: 600;
    color: #8a5d16;
    background-color: #ffdba1;
    margin: 0 auto;
    display: block;
}

    .buttonStOr::before {
    background: #ffb742;
    border-radius: inherit;
    content: '';
    opacity: 0;
    position: absolute;
    transition: all .2s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 0; 
}

    .buttonStOr:hover::before {
    filter: blur(30px); 
    opacity: 1;
}

.buttonStGr {
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    position: relative; 
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: 600;
    color: #238a16;
    background-color: #a2ffa1;
    margin: 0 auto;
    display: block;
}

    .buttonStGr::before {
    background: #4bea36;
    border-radius: inherit;
    content: '';
    opacity: 0;
    position: absolute;
    transition: all .2s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 0; 
}

    .buttonStGr:hover::before {
    filter: blur(30px); 
    opacity: 1;
}

.buttonStPr {
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    position: relative; 
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: 600;
    color: #56168a;
    background-color: #c0a1ff;
    margin: 0 auto;
    display: block;
}

    .buttonStPr::before {
    background: #a844fa;
    border-radius: inherit;
    content: '';
    opacity: 0;
    position: absolute;
    transition: all .2s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 0; 
}

    .buttonStPr:hover::before {
    filter: blur(30px); 
    opacity: 1;
}

.buttonStGrey {
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    position: relative; 
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: 600;
    color: #868686;
    background-color: #dbdbdb;
    margin: 0 auto;
    display: block;
}

    .buttonStGrey::before {
    background: #fafafa;
    border-radius: inherit;
    content: '';
    opacity: 0;
    position: absolute;
    transition: all .2s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 0; 
}

    .buttonStGrey:hover::before {
    filter: blur(30px); 
    opacity: 1;
}


img {
    object-fit: cover;
}


.centerButtonOverlay {
    position: absolute;
    top: 85%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    outline: none; 
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: 600;
    margin: 0 auto;
    display: block;
    width: 25%;
}

    .centerButtonOverlay::before {
    border-radius: inherit;
    content: '';
    opacity: 0;
    position: absolute;
    transition: all .2s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 0; 
}

    .centerButtonOverlay:hover::before {
    filter: blur(30px); 
    opacity: 1;
}